{#
/**
 * @file
 * Default theme implementation for a UIkit Cover.
 *
 * Available variables:
 * - attributes: HTML attributes to be applied to the cover.
 *
 * @see \Drupal\uikit_components\Element\UIkitCover
 * @see template_preprocess_uikit_cover()
 * @see https://getuikit.com/docs/cover
 *
 * @ingroup uikit_components_theme_render
 */
#}
<div{{ attributes }}></div>
